* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --border: 2px solid red;
  --margin: 2vw 8vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: blue;
  padding: 0.5vw 8vw;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li {
  list-style: none;
  padding: 1vw;
}

nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  padding: 0.5vw;
  font-size: 1.4vw;
}

nav ul li a:hover {
  background-color: rgb(55, 37, 128);
  border-radius: 5px;
}

.left {
  font-size: 2vw;
  position: relative;
  text-align: center;
}

.left::after {
  content: "";
  height: 4px;
  width: 0%;
  display: inline-block;
  background-color: yellow;
  position: absolute;
  left: 0;
  bottom: -5px;
  border-radius: 5px;
  transition: all 3s;
}

.left:hover::after {
  width: 100%;
}

/* nav ends  */

/* firstsection starts  */

.firstsection {
  display: flex;
  justify-content: center;
  gap: 3vw;
  margin: 2vw 0;
}

.firstsection > div {
  width: 40%;
}

.leftsection {
  font-size: 3vw;
  padding: 2vw;
  padding-left: 0;
  line-height: 5vw;
}

.leftsection .btn {
  border-radius: 12px;
  background-color: black;
  border: 2px solid blue;
  font-size: 1.8vw;
  margin: 5px 2px;
  padding: 5px;
  cursor: pointer;
}

.leftsection .buttons .btn a {
  text-decoration: none;
  color: #0089ff;
}

.leftsection .buttons .btn:hover {
  border: 2px solid white;
}

.rightsection img {
  width: 100%;
  margin: 2vw 0px;
}

.purple {
  color: blueviolet;
}

#element {
  color: rgb(159, 159, 240);
}

/* main starts */

/* main{
  padding: 2vw 8vw;
  border: 2px solid red;
} */

main hr {
  border: 0;
  background: #0089ff;
  height: 1px;
  margin: 3px 4vw;
}

.education {
  /* width: 100%; */
  max-width: 80vw;
  margin: 2vw 8vw;
}

.education .text-gray {
  color: gray;
}

.education h1 {
  font-size: 2.5rem;
}

/* contain start  */
.contain {
  height: 450px;
  padding: 2vw 0vw;
}

/* horizontal line  */
.contain .box {
  background-color: white;
  width: 79.8vw;
  height: 2px;
  z-index: 1000;
  margin-bottom: 63px;
}

.vertical-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18vw;
}

/* vertical line  */
.vertical {
  width: 3px;
  height: 8rem;
  z-index: 10;
  background-color: #0c22c4;
  position: relative
}

.box .horizontal {
  width: 16vw;
  padding: 10px;
  position: absolute;
  top: 8rem;
  left: -7vw;
  cursor: pointer;
}

.horizontal h3 {
  color: white;
  font-size: 2vw;
  margin-bottom: 5px;
}

.horizontal p {
  font-size: 1.3vw;
  color: #0089ff;
}

/* certificates start  */

.certificates {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #0c22c4;
}

.certificate {
  background-color: rgb(2, 10, 124);
  border-radius: 5px;
  /* height: 500px; */
  color: white;
  padding-bottom: 30px;
}
.certificate h2 {
  padding: 20px 0 5px 0;
}
.certificate h5 {
  margin-bottom: 15px;
}
.cert {
  color: rgb(0, 30, 255);
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  /* grid-template-rows: 180px 180px; */
  grid-template-rows: auto auto;
  align-content: center;
  justify-content: center;
  gap: 20px;
}

.cert .boxes {
  color: white;
  padding: 20px;
  border: 2px solid white;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
}
.cert .boxes{
  box-shadow: 0 0 5px black;
}
.cert .boxes h3 {
  margin: 10px 0;
}
.cert .boxes i {
  color: aqua;
  font-size: 45px;
}

/* certificates ends  */


/* project section start  */

.past-project{
  max-width: 80vw;
  margin: 2vw 8vw;
}

.past-projects {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    width: auto;
    background-color: #131631;
    padding-right: 25px;
}

.heading {
  margin: 2rem 6rem;
}

.projects {
  margin: 0rem 5rem;
  width: 85%;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: auto;
  align-content: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.project {
  border: 2px solid black;
  width: 250px;
  height: 300px;
  text-align: center;
  color: white;
  background-color: blue;
  font-size: 15px;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  /* padding: 1vw; */
}

.project:hover{
  box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
}

.project img {
  width: 100%;
  height: 200px;
}

.project .name {
  width: 100%;
  text-align: center;
  font-size: 1.3vw;
  margin: 10px 0;
}

.project button{
  text-align: center;
  text-decoration: none;
  font-size: 1.6vw;
  padding: 5px 15px;
  font-weight: 600;
  border-radius: 5px;
}

.project button:hover{
    background-color: #131631;
}

.project button:hover a{
    color: #0089ff;
}

.project button a {
  text-align: center;
  text-decoration: none;
}

/* project section ends  */

/* footer starts */

footer {
  background-color: #1c1853;
  /* height: 11.5rem; */
  padding: 2vw 0;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.footers ul li {
  list-style: none;
  text-decoration: none;
}

.footers h3 {
  position: relative;
}

.footers h3::after {
  content: "";
  height: 4px;
  width: 0%;
  display: block;
  background-color: yellow;
  position: absolute;
  left: 0;
  /* bottom: 5px; */
  border-radius: 20px;
  transition: all 3s;
}

.footers h3:hover::after {
  width: 100%;
}

.footers ul li a {
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.4rem 0.4rem;
  border-radius: 0.7rem;
}

.footers ul li a:hover {
  color: aquamarine;
  font-size: 1.09rem;
  color: white;
  background-color: rgb(129, 117, 177);
  font-size: 1.02rem;
}

.right {
  text-align: center;
  margin: 20px 0;
}

.right a {
  color: rgb(31, 68, 231);
  /* font-size: large; */
  font-weight: 600;
}

.right a:hover {
  color: rgb(29, 240, 240);
  font-size: medium;
}

.rights {
    text-align: center;
    /* padding: 5px; */
}