* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: blue;
    /* position: fixed; */
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 1.3rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    border: none;
    padding: 0.4rem 0.4rem;
    border-radius: .7rem;
}

nav ul li a:hover {
    color: white;
    background-color: rgb(55, 37, 128);
    font-size: 1.02rem;
}

.left {
    font-size: 1.5rem;
    position: relative;
}

.left::after {
    content: "";
    height: 4px;
    width: 0%;
    display: inline-block;
    background-color: yellow;
    position: absolute;
    left: 0;
    bottom: -5px;
    border-radius: 20px;
    transition: all 3s;
}

.left:hover::after{
    width: 100%;
}



/* firstsection starts  */

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem 0;
}

.firstsection>div {
    width: 30%;
}

.leftsection {
    font-size: 3rem;
    margin: 5rem 0;
    width: 39%;
}

.leftsection .btn {
    border-radius: 12px;
    background: black;
    color: white;
    border: 2px solid white;
    font-size: 27px;
    margin: 5px 2px;
    padding: 3px 10px;
    cursor: pointer;
}

.leftsection .buttons .btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    color: #0089ff;
}

.rightsection img {
    width: 112%;
    margin: 75px -82px;
}

.purple {
    color: blueviolet;
}

#element {
    color: rgb(159, 159, 240);
}

/* main starts */

main hr {
    border: 0;
    background: #0089ff;
    height: 1px;
    margin: 3px 85px;
    /* margin: 56px 82px; */
    /* position: sticky; */
}

.education {
    max-width: 80vw;
    margin: 87px auto;
    height: 57rem;
}

.education .text-gray {
    color: gray;
}

.education h1 {
    font-size: 2.5rem;
}

.education .contain{
    height: 400px;
}

.education .box {
    background: white;
    width: 81vw;
    height: 1px;
    margin: 63px 0px;
    display: flex;
}

.education .box .vertical {
    height: 122px;
    width: 1px;
    background-color: white;
    /* margin: 0 10rem; */
    margin:0 6rem;
    /* flex: 1 1 200px; */
}

.img-top {
    position: relative;
    top: -26px;
    left: -8px;
    width: 23px;
}

.vertical-title {
    position: relative;
    top: 103px;
    width: 216px;
    left: -40px;
    font-size: 23px;
    transition: all 3s;
}
.vertical-title:hover{
    scale: 1.1;
}

.vertical-desc {
    position: relative;
    top: 129px;
    width: 170px;
    left: -40px;
    color: #0089ff;
}

/* certificates start  */

.certificates {
    width: 100%;
    height: 500px;
    text-align: center;
    padding: 20px;
    background-color: #0c22c4;
  }

  .certificate {
    background-color: rgb(2, 10, 124);
    border-radius: 5px;
    height: 500px;
    color: white;
  }
  .certificate h2 {
    padding: 20px 0 5px 0;
  }
  .certificate h5 {
    margin-bottom: 15px;
  }
  .cert {
    color: rgb(0, 30, 255);
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 180px 180px;
    align-content: center;
    justify-content: center;
    gap: 20px;
  }

  .cert .boxes {
    color: white;
    padding: 20px;
    border: 2px solid white;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
  }
  .cert .boxes h3 {
    margin: 10px 0 10px 0;
  }
  #boxes h3 {
    margin: 5px 0 5px 0;
  }
  .cert .boxes i {
    color: aqua;
    font-size: 30px;
  }

/* certificates ends  */

/* project section start  */

.past-projects{
    border: 2px solid black;
    border-radius: 2rem;
    width: 80%;
    margin: 300px 0 50px 100px;
    height: 52rem;
    background-color: #131631;
    padding-right: 25px;
}

.heading{
    margin: 2rem 6rem; 
}

.projects{
    margin: 0rem 5rem;
    /* border: 2px solid white; */
    height: 550px;
    width: 85%;
}
.project{
    border: 2px solid black;
    height: 200px;
    width: 198px;
    text-align: center;
    color: white;
    background-color: blue;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
    display: inline-block;
    margin: 10px;
}

.project img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 5px;
}

/* project section ends  */

/* footer starts */

footer {
    background-color: #1c1853;
    height: 11.5rem;
}

.footer{
    display: flex;
    padding: 44px 0;
    justify-content: space-evenly;
    cursor: pointer;
}

.footers ul li {
    list-style: none;
    text-decoration: none;
}

.footers h3{
    position: relative;
}

.footers h3::after {
    content: "";
    height: 4px;
    width: 0%;
    display: block;
    background-color: yellow;
    position: absolute;
    left: 0;
    /* bottom: 5px; */
    border-radius: 20px;
    transition: all 3s;
}

.footers h3:hover::after{
    width: 100%;
}



.footers ul li a{
    text-decoration: none;
    color: white;
    border: none;
    padding: 0.4rem 0.4rem;
    border-radius: .7rem;
}

.footers ul li a:hover{
    color: aquamarine;
    font-size: 1.09rem;
    color: white;
    background-color: rgb(129, 117, 177);
    font-size: 1.02rem;
}

.rights {
    text-align: center;
    padding: 5px;
}

.rights a{
    color: rgb(31, 68, 231);
    /* font-size: large; */
    font-weight: 600;
}

.rights a:hover{
    color:rgb(29, 240, 240);
    font-size: medium;
}